.travels {
  width: 100%;
  padding: 2rem;
}

.travels__skeleton {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
  justify-content: space-between;
  width: 100%;
}

.travels__container {
  display: flex;
  flex-direction: column;
}

.travels__header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.travels__findMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.travels__findMe__icon {
  color: #f65261;
  margin-right: 0.5rem;
}

.travels__findMe__span {
  color: slategray;
  font-weight: 500;
  margin-right: 2rem;
}

.travels__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-right: auto;
}

.travels__create {
  display: flex;
  align-items: center;
}

.travels__create button {
  font-size: 1rem;
  font-weight: 500;
  background-color: #f65261;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.travels__create button:hover {
  background-color: #e04353;
}

.travels__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 750px) {
  .travels {
    padding: 1rem;
  }

  .travels__header {
    flex-direction: column;
    align-items: center;
  }

  .travels__findMe {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .travels__title {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .travels__create {
    justify-content: center;
  }

  .travels__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}