.travels{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5rem 3rem;

}
.travels__container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
}
.travels__title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.travels__findMe{
  display: flex;
  align-items: center;
}
.travels__findMe__icon{
  width: 100%;
  color: #f65261;
  margin-right: 0.5rem;
}
.travels__findMe__span{
  color: slategray;
  font-weight: 500;
}
.travels_create, button {
  font-size: 1rem;
  font-weight: 500;
  background-color: #f65261;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}
button:hover {
  background-color: #e04353;
} 
