.roadMapNextTravel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 450px;
    overflow-y: auto;
    width: 100%; 
    height: 100%;
}

.roadMapList {
    width: 100%;
    height: 100%;
    overflow-y: auto; 
}