.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 2rem;
}

.login__container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #333;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login__form__group {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.login__form__label {
  width: 90%;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #666;
}

.login__form__input {
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.login__form__input:focus {
  outline: none;
  border-color: #f65261;
}

.login__form__button {
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #f65261;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login__form__button:hover {
  background-color: #e04353;
}
.login__form__span {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
}
a {
  color: #f65261;
  text-decoration: none;
}
