.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(201, 196, 196);
}

.modal__title{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: #1d1d1d;
    margin-bottom: 1rem;
}

.modal__inputs{
    display: flex;

    flex-direction: column  ;
    width: 32rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    outline: none !important;
    padding: 1rem;
    background-color: #fff;
}
.modal__inputs__field, input {
    width: 100%;
    max-width: 300px;
    padding: 0.6rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid #1d1d1d;
 }


.modal__actions{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.modal__actions__button {
  font-weight: 500;
  background-color: #f65261 !important;
  color: #fff !important;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.modal__actions__button:hover {
  background-color: #e04353;
}

.modal__actions__button__cancel {
  font-weight: 500;
  background-color: #1d1d1d;
  color: #fff !important;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.img__container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
}

.img__label {
  display: inline-block;
  background-color: #f65261;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__label:hover {
  background-color: #e04353;
}

.img {
  position: absolute;
  left: -9999px;
}

.img__filename {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

