.navbarRoot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
}

.navbar_logo {
    width: 82.47px;
    height: 18.02px;
}

.navbar_login {
    font-size: 1rem;
    font-weight: 500;
    background-color: #f65261;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar_login:hover {
    background-color: #e04353;
}
