.roadMap {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0.2rem;
}

.roadMap__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.roadMap__container__checkbox {
  display: flex;
  gap: 0.5rem;
}

.roadMap__container__checkbox__visited__input {
  width: 0.8rem;
  color: #f65261;
  border: 2px solid #f65261;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.roadMap__content__image {
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0.5rem 0;
}

.roadMap_image{
  width: 6rem;
  height: auto;
  min-width: 6rem;
  border-radius: 10px;
}